@font-face {
    font-family: Lato-Regular;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    font-family: Lato-Regular;
    background-color: var(--color-primary);
}

main {
    width: 100%;
    height: inherit;
}

.search {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    padding: var(--spacing-x-large) 0;
}

.search label {
    font-size: var(--font-size-medium);
}

.search__input {
    min-width: 300px;
    height: 32px;
    font-family: inherit;
    padding: 0 var(--spacing-small);
}

/* ------------------------- */

.countries {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-small);
    padding: var(--spacing-large) var(--spacing-medium);
    border: 2px solid black;
    justify-self: center;
}

.card {
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    padding: var(--spacing-large) var(--spacing-medium);
}

.card__flag-container {
    display: block;
    text-align: center;
    font-size: var(--font-size-x-large);
}

.card__description-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small)
}